.video-cleaner-container {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  h2{
    color: #00bfa6;
  }
  
  .file-upload {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .file-input {
    display: none;
  }
  
  #fileUpload + label {
    background-color: #00bfa6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .file-name-display {
    margin-left: 10px;
    padding: 10px;
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .clean-btn {
    margin-left: 10px;
    background-color: #44ace9;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .checkbox-group {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .checkbox-group input {
    margin-right: 10px;
  }
  
  .info-box {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    font-size: 14px;
    line-height: 1.5;
    color: #666;
  }
  